<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Joris Yidong Scholl and Bootstrap contributors">
        <title>Phylogenetic Tree</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
    </head> 
  <body>
    <nav class="position-relative navbar navbar-expand-lg navbar-dark bg-dark" style="z-index:1000">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Phyloptimize</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">New</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/example">Example Files</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/list">Browse Trees</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cite">Cite</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="content">{% block content %}{% endblock %}</div>
    <footer id="footer" class="fixed-bottom blockquote-footer">
        <a aria-current="page" href="https://doi.org/10.4230/LIPIcs.GIScience.2023.5">doi.org/10.4230/LIPIcs.GIScience.2023.5</a>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>