{% extends "base.html" %}
{% block content %}
<div class="position-absolute top-50 start-50 translate-middle container">
    <p class="text-center">DOI</p>
    <a class="text-center nav-link" aria-current="page" href="https://doi.org/10.4230/LIPIcs.GIScience.2023.5">doi.org/10.4230/LIPIcs.GIScience.2023.5</a>
    <br>
    <p class="text-center">Bibtex</p>
    <div class="position-relative start-50 translate-middle-x" style="background-color:#dddddd;display:inline-block;padding:10px;">
        <pre>@InProceedings{klawitter_et_al:LIPIcs.GIScience.2023.5,
  author =	{Klawitter, Jonathan and Klesen, Felix and Scholl, Joris Y. and van Dijk, Thomas C. and Zaft, Alexander},
  title =	{{"{{Visualizing Geophylogenies - Internal and External Labeling with Phylogenetic Tree Constraints}}"}},
  booktitle =	{12th International Conference on Geographic Information Science (GIScience 2023)},
  pages =	{5:1--5:16},
  series =	{Leibniz International Proceedings in Informatics (LIPIcs)},
  ISBN =	{978-3-95977-288-4},
  ISSN =	{1868-8969},
  year =	{2023},
  volume =	{277},
  editor =	{Beecham, Roger and Long, Jed A. and Smith, Dianna and Zhao, Qunshan and Wise, Sarah},
  publisher =	{Schloss Dagstuhl -- Leibniz-Zentrum f{\"u}r Informatik},
  address =	{Dagstuhl, Germany},
  URL =		{https://drops.dagstuhl.de/opus/volltexte/2023/18900},
  URN =		{urn:nbn:de:0030-drops-189004},
  doi =		{10.4230/LIPIcs.GIScience.2023.5},
  annote =	{Keywords: geophylogeny, boundary labeling, external labeling, algorithms}
}</pre>
    </div>
</div>


{% endblock %}